@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities

@inject IGalleryService galleryService

@if (errorMessage != "")
{
    <div class="mx-2 animate-pulse">
        <div class="alert-box" role="alert">
            <span class="block sm:inline">@errorMessage</span>
        </div>
    </div>
}
else if (galleries == null)
{
    <text>Loading galleries...</text>
}
else
{
    @foreach (Gallery gallery in galleries)
    {
    <div class="sm:px-4 md:px-8 lg:px-32 xl:px-64 2xl:px-96 mx-auto my-16">
        <div class="relative rounded-lg flex flex-col md:flex-row items-center md:shadow-xl md:h-72 mx-2">
            <div class="z-0 sm:order-1 md:order-2 relative w-full md:w-2/5 h-80 md:h-full overflow-hidden md:rounded-none md:rounded-r-lg">
                <a href="/galleries/@gallery.Id">
                    <div class="absolute inset-0 w-full h-full object-fill object-center bg-blue-300 bg-opacity-30 hover:bg-white/50 bg-cover bg-bottom bg-blend-multiply" style="background-image: url( @gallery.HeaderImage );"></div>
                </a>
                <div class="md:hidden absolute inset-0 h-full p-6 pb-6 flex flex-col-reverse justify-start items-start bg-gradient-to-b from-transparent via-transparent to-gray-900">
                    <h3 class="w-full font-bold text-2xl text-white leading-tight mb-4">@gallery.Name</h3>
                </div>
                <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-white -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon points="50,0 100,0 50,100 0,100" />
                </svg>
            </div>
            <div class="z-10 sm:order-2 md:order-1 w-full h-full md:w-3/5 flex items-center -mt-6 md:mt-0">
                <div class="p-8 md:pr-18 md:pl-14 md:py-12 mx-2 md:mx-0 h-full bg-white rounded-lg md:rounded-none md:rounded-l-lg shadow-xl md:shadow-none">
                    <h3 class="hidden md:block font-bold text-2xl text-gray-700">@gallery.Name</h3>
                    <p class="text-gray-600 text-justify mt-4">@gallery.Description</p>
                    <a href="/galleries/@gallery.Id" class="flex items-baseline mt-4 text-blue-600 hover:text-blue-900 focus:text-blue-900">
                        <span>See More</span>
                        <span class="text-xs ml-1">&#x279c;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    }
}

@code {
    private List<Gallery> galleries = null!;
    private string errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        await GetGalleryList();
    }

    private async Task GetGalleryList()
    {
        try
        {
            galleries = await galleryService.GetGalleriesAsync();

            if (galleries is not null)
            {
                errorMessage = "";
            }
            else
            {
                errorMessage = "Could not retrieve list of galleries";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not retrieve list of galleries";
        }
    }
}
