@using PhotoPortfolio.Client.Contracts;
@using PhotoPortfolio.Client.Helpers;
@using PhotoPortfolio.Shared.Entities;
@using PhotoPortfolio.Shared.Models;
@using System.Net.Http.Headers;
@using Microsoft.Extensions.Configuration;

@inject ISnackbar Snackbar
@inject IAdminService adminService
@inject IConfiguration config

@if (uploadsEnabled)
{
    <MudStack Style="width: 100%">
        <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnInputFileChanged" Accept="@config["Uploads:FileExtensionsAllowed"]" Hidden="false" Class="flex-1" InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
                   @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
            <ButtonTemplate>
                <MudPaper Height="300px" Outlined="true" Class="@DragClass">
                    <MudText Typo="Typo.h6">Drag and drop files here or click</MudText>
                    @foreach (var file in fileNames)
                    {
                        if (uploadFailures.Any(s => s.Contains(file)))
                        {
                            <MudChip Color="Color.Error" Text="@file" OnClose="RemoveFile" Class="z-30" />
                        }
                        else
                        {
                            <MudChip Color="Color.Default" Text="@file" OnClose="RemoveFile" Class="z-30" />
                        }
                    }
                </MudPaper>
            </ButtonTemplate>
        </MudFileUpload>
        <MudToolBar DisableGutters="true" Class="gap-4">
            <MudButton OnClick="Upload" StartIcon="@Icons.Filled.CloudUpload" Disabled="@(!fileNames.Any())" Color="Color.Primary" Variant="Variant.Filled">Upload</MudButton>
            <MudButton OnClick="Clear" Disabled="@(!fileNames.Any())" Color="Color.Error" Variant="Variant.Filled">Clear</MudButton>
        </MudToolBar>
    </MudStack>
}
else
{
    <div class="text-lg font-semibold text-red-500">File uploads are currently disabled</div>
}
