@using PhotoPortfolio.Shared.Models

@if (BlockItems is not null)
{
    <div class="pt-12 pb-2 lg:pb-4 @(DarkMode ? " bg-gray-700" : " ")" id="text-block-container">
        @foreach (TextBlockItem item in BlockItems)
        {
            <div class="p-[1rem] text-block-item
            @GetResponsiveTextSizes(@item.TextSize)
            text-@item.TextAlignment
            font-@item.TextWeight
            @(
                item.TextUppercase ? " uppercase" : " normal-case"
            )">
                <span style="color: @item.TextColour" id="text-block-content">@item.TextContent</span>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public List<TextBlockItem> BlockItems { get; set; } = null!;

    [Parameter]
    public bool DarkMode { get; set; } = false;

    protected string GetResponsiveTextSizes(string textSize)
    {
        var TextSizes = textSize.ToLowerInvariant() switch
        {
            "5xl" => "text-2xl md:text-3xl lg:text-5xl ",
            "4xl" => "text-xl md:text-2xl lg:text-4xl ",
            "3xl" => "text-lg md:text-xl lg:text-3xl ",
            "2xl" => "text-base md:text-lg lg:text-2xl ",
            "xl" => "text-sm md:text-base lg:text-xl ",
            "md" => "text-sm lg:text-base ",
            "sm" => "text-sm ",
            _ => "text-base md:text-lg lg:text-2xl ",
        };

        return TextSizes;
    }
}
