@page "/admin/products/add"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization
@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities
@using PhotoPortfolio.Shared.Models;
@using PhotoPortfolio.Shared.Models.Prodigi.Products;

@inject IAdminService adminService
@inject IQuoteService quoteService
@inject IProductService productService
@inject NavigationManager navigationManager
@inject ISnackbar Snackbar

@attribute [Authorize]

<PageTitle>Photo Portfolio : Admin : Add Product</PageTitle>

@if (errorMessage != "")
{
    <div class="mx-2 animate-pulse">
        <div class="alert-box" role="alert">
            <span class="block sm:inline">@errorMessage</span>
        </div>
    </div>
}
else
{
    <div class="m-4 md:m-8">
        <div class="pb-4">
            <Breadcrumb BreadcrumbCrumbs="@BreadcrumbCrumbs" />
        </div>

        <div class="text-xl lg:text-3xl mb-8">Add New Product</div>

        <div class="w-full lg:w-1/2">
            <div class="text-base mb-4">Adding a product makes it available to be associated with a photo or gallery.</div>
            <div class="text-base mb-4">There are several steps that need to be taken:</div>
            <div class="text-base mb-4">1. Visit <a href="https://www.prodigi.com/products/" target="_blank" class="text-blue-700 underline">https://www.prodigi.com/products/</a> to find a product to add</div>
            <div class="text-base mb-4">2. Download any images of the product you want to display to customers</div>
            <div class="text-base mb-8">3. Add the product details below:</div>

            <div class="bg-gray-200 w-full lg:w-2/3 rounded-sm text-center h-full px-1.5 py-4 lg:px-8">
                <div class="flex justify-start px-2.5 lg:px-4 py-2">
                    <EditForm Model="@model" OnValidSubmit="CreateProduct">
                        <DataAnnotationsValidator />
                        <div class="mb-2 w-full text-left">
                            <label class="text-sm font-semibold mb-1 ml-0">Sku</label>
                            <InputText id="sku" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="model.ProdigiSku" />
                            <ValidationMessage For="@(() => model.ProdigiSku)" />
                        </div>
                        <div class="mb-2 w-full text-left">
                            <label class="text-sm font-semibold mb-1 ml-0">Description</label>
                            <InputText id="description" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="model.ProdigiDescription" />
                            <ValidationMessage For="@(() => model.ProdigiDescription)" />
                        </div>
                        <div class="mb-2 w-full text-left">
                            <label class="text-sm font-semibold mb-1 ml-0">Default Markup Percentage</label>
                            <InputNumber id="markup_percentage" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="model.DefaultMarkupPercentage" />
                            <ValidationMessage For="@(() => model.DefaultMarkupPercentage)" />
                        </div>
                        <div class="mb-2 w-full text-left">
                            <label class="text-sm font-semibold mb-1 ml-0 mr-1">Cost to You:</label>
                            <label class="text-sm font-semibold mb-1 ml-0">£@wholesalePrice.ToString("0.00")</label>
                        </div>
                        @if (wholesalePrice > 0 && model.DefaultMarkupPercentage > 0)
                        {
                            <div class="mb-2 w-full text-left">
                                <label class="text-sm font-semibold mb-1 ml-0 mr-1">Cost to Customer (exc. delivery):</label>
                                <label class="text-sm font-semibold mb-1 ml-0">£@(((((decimal)model.DefaultMarkupPercentage / 100) + 1) * wholesalePrice).ToString("0.00"))</label>
                            </div>
                        }
                        <div class="mt-8 w:2/3 flex justify-between">
                            <button type="button" onclick="@(() => GetQuote(model.ProdigiSku))" class="inline-flex items-center justify-center px-2 py-1 text-sm font-medium leading-6 text-white whitespace-no-wrap bg-green-600 border border-green-700 rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                Get Quote
                            </button>
                            <button type="submit" class="inline-flex items-center justify-center px-2 py-1 text-sm font-medium leading-6 text-white whitespace-no-wrap bg-blue-600 border border-blue-700 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Save
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>

            @if (product is not null)
            {
                <div class="text-base">4. Upload the image assets:</div>
                <div class="text-base">
                    <PhotoUpload UploadType=ImageUploadType.Product Product=product ProductUpdate="ImageAssetsAdded" />
                </div>
            }
        </div>
    </div>
}
