@page "/admin/galleries/edit/{Id}"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization
@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities
@using PhotoPortfolio.Shared.Models;

@inject IGalleryService galleryService
@inject IAdminService adminService
@inject ISnackbar Snackbar

@attribute [Authorize]

<PageTitle>Photo Portfolio : Admin : Edit Gallery</PageTitle>

@if (errorMessage != "")
{
    <div class="mx-2 animate-pulse">
        <div class="alert-box" role="alert">
            <span class="block sm:inline">@errorMessage</span>
        </div>
    </div>
}
else if (gallery == null)
{
    <text>Loading gallery...</text>
}
else
{
    <div class="m-4 md:m-8 ">
        <div class="text-3xl">Edit Gallery</div>

        <div class="w-full flex justify-between">

            <div class="w-1/3">
                <div class="w-96 mt-10 bg-white rounded-lg shadow-lg">
                    <img src="@gallery.HeaderImage" alt="" class="rounded-t-lg">
                    <div class="p-6">
                        <h2 class="font-bold mb-4 text-2xl">
                            @gallery.Name
                        </h2>
                        <p class="my-2 truncate">@gallery.Description</p>
                    </div>
                </div>
                <div class="mt-8 w-full">
                    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                        <DataAnnotationsValidator />
                        <MudGrid>
                            <MudItem xs="16" sm="9">
                                <MudCard>
                                    <MudCardContent>
                                        <MudTextField Label="Name" @bind-Value="model.Name" For="@(() => model.Name)" />
                                        <MudTextField Label="Description" Class="mt-3" @bind-Value="model.Description" For="@(() => model.Description)" />
                                    </MudCardContent>
                                    <MudCardActions>
                                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-auto">Update</MudButton>
                                    </MudCardActions>
                                </MudCard>
                            </MudItem>
                        </MudGrid>
                    </EditForm>
                </div>
            </div>

            @if (gallery.Photos.Count > 0)
            {
                <div class="w-2/3 mt-8">
                    <div class="text-2xl mb-2">Existing Gallery Photos</div>
                    <div class="mb-8 w-full lg:w-1/4" id="existing-photos-display-options">
                        <MudSelect Placeholder="View As" @bind-Value="displayAs" CloseIcon="@Icons.Material.Filled.Flag" AdornmentColor="Color.Primary">
                            <MudSelectItem Value="@("Standard Grid")" Class="text-base font-sans" />
                            <MudSelectItem Value="@("Masonry Grid")" Class="text-base font-sans" />
                        </MudSelect>
                    </div>
                    @if (displayAs == "Standard Grid")
                    {
                        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
                            @foreach (Photo photo in gallery.Photos)
                            {
                                <div class="gallery-photo group relative overflow-hidden hover:cursor-pointer" @onclick="@(() => ShowPhoto(photo.Id))">
                                    <img class="h-48 w-auto object-cover group-hover:brightness-75 transition ease-in-out duration-700 group-hover:scale-105" src=@photo.Uri />
                                    <div class="absolute invisible group-hover:!visible text-xl text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 ">
                                        View
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    @if (displayAs == "Masonry Grid")
                    {
                        <AdminMasonryGrid GalleryId=@gallery.Id HeaderImageChange="HeaderImageChange" />
                    }
                </div>
            }
            else
            {
                <div class="w-2/3 mt-12">
                    <div class="text-lg mb-2">There are currently no photos in this gallery</div>
                    <div class="mt-8 lg:mr-32">
                        <PhotoUpload GalleryId="@gallery.Id" />
                    </div>
                </div>
                
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; } = null!;

    private Gallery gallery = null!;
    Gallery model = new Gallery();
    private string errorMessage = "";

    private string displayAs = "Standard Grid";

    protected override async Task OnInitializedAsync()
    {
        await GetGalleryDetails();
    }

    private async Task GetGalleryDetails()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            try
            {
                gallery = await adminService.GetGalleryByIdAsync(Id);

                if (gallery is null)
                {
                    errorMessage = "Could not retrieve gallery details";
                }
                else
                {
                    model = gallery;
                    errorMessage = "";
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                errorMessage = "Could not retrieve gallery details";
            }
        }
        else
        {
            errorMessage = "Could not retrieve gallery details";
        }
    }

    private async Task OnValidSubmit()
    {
        var galleryUpdated = await adminService.UpdateGalleryAsync(gallery);

        if (galleryUpdated)
        {
            Snackbar.Add($"The gallery has now been updated", Severity.Success);
        }
        else
        {
            Snackbar.Add($"Sorry, there was a problem updating the gallery", Severity.Error);
        }
    }

    private async Task HeaderImageChange(Gallery updatedGallery)
    {
        gallery = updatedGallery;
        await InvokeAsync(StateHasChanged);
    }

    private async Task ShowPhoto(string photoId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(LightboxModal.PhotoId), photoId);

        LightboxConfirmOptions confirmOptions = new LightboxConfirmOptions()
            {
                ShowButton = true,
                ButtonText = "Use as cover image",
                ButtonAction = LightboxConfirmAction.CloseOnly
            };

        parameters.Add(nameof(LightboxModal.LightboxConfirmOptions), confirmOptions);

        var options = new ModalOptions()
            {
                Animation = ModalAnimation.FadeInOut(0.5),
                Class = "custom-modal-container"
            };

        var lightboxModal = Modal.Show<LightboxModal>("", parameters, options);
        var result = await lightboxModal.Result;

        if (!result.Cancelled)
        {
            var photo = (Photo)result.Data;

            await UpdateHeaderImage(photo);
        }
    }

    private async Task UpdateHeaderImage(Photo photo)
    {
        if (photo.Uri != null)
        {
            gallery.HeaderImage = photo.Uri;

            var response = await adminService.UpdateGalleryAsync(gallery);

            if (response)
            {
                Snackbar.Add($"The header image has been changed", Severity.Success);
            }
            else
            {
                Snackbar.Add($"The header image could NOT be updated", Severity.Error);
            }
        }
        else
        {
            Snackbar.Add($"The header image could NOT be updated", Severity.Error);
        }
    }
}
