@page "/admin/products/edit/{Id}"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization;
@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities
@using PhotoPortfolio.Shared.Models;
@using ProdigiProducts = PhotoPortfolio.Shared.Models.Prodigi.Products

@inject IAdminService adminService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IQuoteService quoteService
@inject IProductService productService

@attribute [Authorize]

<PageTitle>Photo Portfolio : Admin : Edit Product</PageTitle>

@if (errorMessage != "")
{
    <div class="mx-2 animate-pulse">
        <div class="alert-box" role="alert">
            <span class="block sm:inline">@errorMessage</span>
        </div>
    </div>
}
else if (product == null)
{
    <text>Loading product...</text>
}
else
{
    <div class="m-4 md:m-8">
        <div class="pb-4">
            <Breadcrumb BreadcrumbCrumbs="@BreadcrumbCrumbs" />
        </div>

        <div class="text-3xl mb-8">Update Product - @product.ProdigiSku</div>

        <div class="w-full lg:w-1/2">
            <div class="text-base mb-4">Update the product details below:</div>

            <div class="text-base mb-4">
                <EditForm Model="@model" OnValidSubmit="UpdateProduct">
                    <DataAnnotationsValidator />
                    <MudGrid>
                        <MudItem xs="16" sm="9">
                            <MudCard>
                                <MudCardContent>
                                    <MudTextField Label="Sku" @bind-Value="model.ProdigiSku" For="@(() => model.ProdigiSku)" Disabled />
                                    <MudTextField Label="Description" Class="mt-3" @bind-Value="model.ProdigiDescription" For="@(() => model.ProdigiDescription)" Disabled />
                                    <MudTextField Label="Default Markup %" Class="mt-3" @bind-Value="model.DefaultMarkupPercentage" For="@(() => model.DefaultMarkupPercentage)" />
                                    <MudButton OnClick="@(() => GetQuote(model.ProdigiSku))" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Class="mr-auto my-4">Get Quote</MudButton>
                                    @if (quoteRequested)
                                    {
                                        <MudSkeleton Class="mt-4" SkeletonType="SkeletonType.Rectangle" Width="200px" Height="33px" />
                                        <MudSkeleton Class="mt-4" SkeletonType="SkeletonType.Rectangle" Width="300px" Height="33px" />
                                    }
                                    else
                                    {
                                        if (wholesalePrice > 0.0m)
                                        {
                                            <MudText Class="mt-4">Wholesale Price: £@wholesalePrice.ToString("0.00")</MudText>
                                            <MudText Class="mt-4">Price To Customer (exc. delivery): £@(((((decimal)model.DefaultMarkupPercentage / 100) + 1) * wholesalePrice).ToString("0.00"))</MudText>
                                        }
                                    }
                                </MudCardContent>
                                <MudCardContent>
                                    @if (model.ProdigiImageAssetUris != null && model.ProdigiImageAssetUris.Count > 0)
                                    {
                                        <div class="flex flex-row justify-items-center">
                                            @foreach (var image in model.ProdigiImageAssetUris)
                                            {
                                                <div class="group relative overflow-hidden hover:cursor-pointer hover:brightness-70" @onclick="@(() => DeleteImage(image))">
                                                    <img src="@image" class="w-24 w-auto object-cover group-hover:brightness-75 transition ease-in-out duration-700 group-hover:scale-105" />
                                                    <div class="absolute invisible group-hover:!visible text-lg text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 ">
                                                        Delete
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </MudCardContent>
                                <MudCardContent>
                                    <div class="text-base">
                                        <PhotoUpload UploadType=ImageUploadType.Product Product=model ProductUpdate="ImageAssetsAdded" />
                                    </div>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-auto" Disabled="@(model == null)">Update</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    Product product = new();
    private string errorMessage = "";
    private Product model = new();
    private bool quoteRequested = false;
    decimal wholesalePrice = 0.0m;

    private List<BreadcrumbCrumb> BreadcrumbCrumbs = new();

    protected override async Task OnInitializedAsync()
    {
        await GetProductById();
    }

    protected override void OnInitialized()
    {
        BreadcrumbCrumbs.Add(new BreadcrumbCrumb { Id = 1, Name = "Products", Uri = "/admin/products", Enabled = true });
    }

    private async Task GetProductById()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            try
            {
                product = await adminService.GetProductByIdAsync(Id);

                if (product is not null)
                {
                    model = product;
                    errorMessage = "";
                    BreadcrumbCrumbs.Add(new BreadcrumbCrumb { Id = 2, Name = product.ProdigiSku, Uri = "", Enabled = false });
                }
                else
                {
                    errorMessage = "Could not find details for this product";
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                errorMessage = "Could not find this product";
            }
        }
        else
        {
            errorMessage = "Could not find this product";
        }
    }

    private async Task UpdateProduct()
    {
        var productUpdated = await adminService.UpdateProductAsync(model);

        if (productUpdated)
        {
            Snackbar.Add("This product has now been updated", Severity.Success);
        }
        else
        {
            Snackbar.Add("Sorry, there was a problem updating this product", Severity.Error);
        }
    }

    private async void ImageAssetsAdded(Product returnedProduct)
    {
        var productUpdated = await adminService.UpdateProductAsync(returnedProduct);

        if (productUpdated)
        {
            //Snackbar.Add("The image(s) were successfully uploaded and added to the product", Severity.Success);
        }
        else
        {
            Snackbar.Add("The image(s) could NOT be added to the product", Severity.Error);
        }
    }

    private async void DeleteImage(string imageAssetUri)
    {
        // first, get confirmation via a dialog
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete this image? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<ConfirmDialog>("Delete", parameters, options);
        var result = await dialog.Result;

        // user confirmed, proceed with the deletion
        if (!result.Cancelled) // user must have clicked confirm button
        {
            var imageToRemove = product.ProdigiImageAssetUris?.SingleOrDefault(i => i == imageAssetUri);

            if (imageToRemove is not null)
            {
                var imageRemoved = product.ProdigiImageAssetUris.Remove(imageToRemove);
                var productUpdated = await adminService.UpdateProductAsync(product);

                if (productUpdated)
                {
                    model = product;
                    await InvokeAsync(StateHasChanged);
                    Snackbar.Add($"That image was deleted from the product", Severity.Success);
                }
                else
                {
                    Snackbar.Add("The image could NOT be deleted", Severity.Error);
                }
            }
        }
    }

    private async Task GetQuote(string sku)
    {
        quoteRequested = true;

        var productDetails = await GetProductDetails(sku);

        if (productDetails is not null)
        {
            model.ProdigiDescription = productDetails.Description;
        }

        var quoteResponse = await quoteService.GetQuote(sku);

        if (quoteResponse is not null)
        {
            var quotes = quoteResponse.Quotes;
            var quoteReturned = quotes.FirstOrDefault();

            if (quoteReturned is not null && quoteReturned.CostSummary is not null)
            {
                if (!string.IsNullOrWhiteSpace(quoteReturned.CostSummary.TotalCost!.Amount))
                {
                    wholesalePrice = decimal.Parse(quoteReturned.CostSummary.TotalCost.Amount);
                    quoteRequested = false;
                }
            }
        }
        else
        {
            errorMessage = "Sorry, there was a problem getting a quote for this product";
        }
    }

    private async Task<ProdigiProducts.ProductDetails> GetProductDetails(string sku)
    {
        var productDetails = await productService.GetProductDetailsAsync(sku);

        if (productDetails is not null) return productDetails;
        else
        {
            errorMessage = "Sorry, there was a problem getting details for this product";
            return null!;
        }
    }
}
