@page "/admin/galleries"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization
@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities

@inject IGalleryService galleryService
@inject IAdminService adminService

@attribute [Authorize]

<PageTitle>Photo Portfolio : Admin : Galleries</PageTitle>

@if (errorMessage != "")
{
    <div class="mx-2 animate-pulse">
        <div class="alert-box" role="alert">
            <span class="block sm:inline">@errorMessage</span>
        </div>
    </div>
}
else if (galleries == null)
{
    <text>Loading galleries...</text>
}
else
{
    <div class="m-4 md:m-8">
        <div class="text-3xl">Galleries</div>
        <div class="mt-8">
            <LinkButton LinkText="Add New Gallery" Uri="/admin/gallery" />
        </div>
        <div class="mt-10 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
        @foreach (Gallery gallery in galleries)
        {
            <div class="bg-white rounded-lg shadow-lg">
                <img src="@gallery.HeaderImage" alt="" class="rounded-t-lg">
                <div class="p-6">
                    <h2 class="font-bold mb-4 text-2xl">
                        @gallery.Name
                    </h2>
                    <p class="my-2 truncate">@gallery.Description</p>
                </div>
                <div class="px-4 pb-6">
                    @if (gallery.Public)
                    {
                        <MudTooltip Delay="500" Duration="1000" Text="Note: galleries displayed in masonry grids, etc. must be public" Arrow="true" Placement="Placement.Bottom">
                            <MudChip Size="Size.Small" Icon="@Icons.Filled.Cancel" Color="Color.Error" Disabled="@gallery.Public">Private</MudChip>
                            <MudSwitch @bind-Checked="gallery.Public" Color="Color.Success" UnCheckedColor="Color.Error" @onclick="@(() => UpdatePublicStatus(gallery))" />
                            <MudChip Size="Size.Small" Icon="@Icons.Filled.Person" Color="Color.Success" Class="-ml-6">Public</MudChip>
                        </MudTooltip>
                    }
                    @if (!gallery.Public)
                    {
                        <MudChip Size="Size.Small" Icon="@Icons.Filled.Cancel" Color="Color.Error">Private</MudChip>
                        <MudSwitch @bind-Checked="gallery.Public" Color="Color.Success" UnCheckedColor="Color.Error" @onclick="@(() => UpdatePublicStatus(gallery))" />
                        <MudChip Size="Size.Small" Icon="@Icons.Filled.Person" Color="Color.Success" Class="-ml-6" Disabled="!gallery.Public">Public</MudChip>
                    }
                </div>
            </div>
        }
        </div>
    </div>
}

@code {
    private List<Gallery> galleries = null!;
    private string errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        await GetGalleryList();
    }

    private async Task GetGalleryList()
    {
        try
        {
            galleries = await adminService.GetAllGalleriesAsync();
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not retrieve list of galleries";
        }
    }

    private async Task UpdatePublicStatus(Gallery gallery)
    {
        gallery.Public = !gallery.Public;

        var response = await adminService.UpdateGalleryAsync(gallery);

        Console.WriteLine("Update response: " + response.ToString());
    }
}