@page "/admin/orders"
@layout AdminLayout

@using Humanizer;
@using Microsoft.AspNetCore.Authorization
@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Helpers;
@using PhotoPortfolio.Shared.Entities
@using PhotoPortfolio.Shared.Models;

@inject IAdminService adminService
@inject NavigationManager navigationManager

@attribute [Authorize]

<PageTitle>Photo Portfolio : Admin : Orders</PageTitle>

@if (errorMessage != "")
{
    <div class="mx-2 animate-pulse">
        <div class="alert-box" role="alert">
            <span class="block sm:inline">@errorMessage</span>
        </div>
    </div>
}
else if (orders == null)
{
    <text>Loading orders...</text>
}
else
{
    <div class="m-4 md:m-8">
        <div class="text-3xl mb-8">Orders</div>
        <div class="w-full lg:w-1/2 my-4 flex justify-items-start items-center">
            <div class="mr-2 font-semibold text-base">Sort By:</div>
            <div>
                <Dropdown 
                    DropdownTitle="@sortTitle"
                    DropdownWidth="Dropdown.DropdownWidthOptions.Medium"
                    DropdownItems="@sortOptions"
                    DropdownOutline=true
                    SelectedOption="SelectedSortOption" />
            </div>
        </div>
        <div class="w-full lg:w-1/2 my-4 flex justify-items-start items-center">
            <div class="mr-2 font-semibold text-base">Time Period:</div>
            <div>
                <Dropdown DropdownTitle="@filterTimeTitle"
                    DropdownWidth="Dropdown.DropdownWidthOptions.Medium"
                    DropdownItems="@filterTimeOptions"
                    DropdownOutline=true
                    SelectedOption="SelectedTimeFilterOption" />
            </div>
        </div>
        <div class="w-full lg:w-1/2 my-4 flex justify-items-start items-center">
            <div class="mr-2 font-semibold text-base">Status:</div>
            <div>
                <Dropdown DropdownTitle="@filterStatusTitle"
                    DropdownWidth="Dropdown.DropdownWidthOptions.Medium"
                    DropdownItems="@filterStatusOptions"
                    DropdownOutline=true
                    SelectedOption="SelectedStatusFilterOption" />
            </div>
        </div>
        <div class="w-full lg:w-1/2 mt-8">
            @if (orders is not null && orders.Count > 0)
            {
                @foreach (OrderDetailsDto order in orders)
                {
                    <div class="p-8 mb-4 shadow-lg rounded-md flex flex-row">
                        <div class="w-2/3 text-base ">
                            <div class="font-semibold">Order Id:&nbsp;<span class="font-medium">@order.Id</span></div>
                            <div class="font-semibold">Date:&nbsp;<span class="font-medium">@order.OrderDate</span></div>
                            @if (!string.IsNullOrEmpty(order.Name))
                            {
                                <div class="font-semibold">Customer:&nbsp;<span class="font-medium">@order.Name (@order.EmailAddress)</span></div>
                            }
                            <div class="font-semibold">Status:&nbsp;<span class="font-medium">@order.Status.Humanize(LetterCasing.Title)</span></div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

@code {
    private List<OrderDetailsDto> orders { get; set; } = null!;
    private string errorMessage = "";

    private OrderSpecificationParams orderParams = new ();
    private List<DropdownItem> sortOptions = new();
    private string sortTitle = "Sorted By";

    private List<DropdownItem> filterTimeOptions = new();
    private string filterTimeTitle = "In Last Year";

    private List<DropdownItem> filterStatusOptions = new();
    private string filterStatusTitle = "Any Status";

    protected override async Task OnInitializedAsync()
    {
        orderParams.SortBy = "ordercreated";
        orderParams.SortOrder = "desc";
        sortTitle = "Order Date (Most Recent First)";

        orderParams.InLastNumberOfDays = 365;
        filterTimeTitle = "In Last Year";

        orderParams.Status = "";
        filterStatusTitle = "Any Status";

        await GetOrders();
    }

    protected override void OnInitialized()
    {
        SetSortOptions();
        SetFilterTimeOptions();
        SetFilterStatusOptions();
    }

    private void SetSortOptions()
    {
        sortOptions.Clear();

        sortOptions.Add(new DropdownItem
            {
                OptionName = "Order Date (Most Recent First)",
                OptionRef = "ordercreated_desc"
            });

        sortOptions.Add(new DropdownItem
            {
                OptionName = "Order Date (Oldest First)",
                OptionRef = "ordercreated_asc"
            });
    }

    private void SetFilterTimeOptions()
    {
        filterTimeOptions.Clear();

        filterTimeOptions.Add(new DropdownItem
            {
                OptionName = "In Last 7 Days",
                OptionRef = "7"
            });

        filterTimeOptions.Add(new DropdownItem
            {
                OptionName = "In Last 14 Days",
                OptionRef = "14"
            });

        filterTimeOptions.Add(new DropdownItem
            {
                OptionName = "In Last 30 Days",
                OptionRef = "30"
            });

        filterTimeOptions.Add(new DropdownItem
            {
                OptionName = "In Last 6 Months",
                OptionRef = "180"
            });

        filterTimeOptions.Add(new DropdownItem
            {
                OptionName = "In Last Year",
                OptionRef = "365"
            });

        filterTimeOptions.Add(new DropdownItem
            {
                OptionName = "All Orders",
                OptionRef = "36500" // 100 years
            });
    }

    private void SetFilterStatusOptions()
    {
        filterStatusOptions.Clear();

        filterStatusOptions.Add(new DropdownItem
            {
                OptionName = "Any Status",
                OptionRef = "Any"
            });

        string[] statusNames = Enum.GetNames<OrderStatus>();

        foreach(string name in statusNames)
        {
            filterStatusOptions.Add(new DropdownItem
            {
                OptionName = name.Humanize(LetterCasing.Title), // eg. "Awaiting Approval"
                OptionRef = name
            });
        }
    }

    private async Task GetOrders()
    {
        try
        {
            orders = await adminService.GetOrdersAsync(orderParams);
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not retrieve list of orders";
        }
    }

    private async Task SelectedSortOption(DropdownItem selectedOption)
    {
        string sortBy = selectedOption.OptionRef;
        sortTitle = selectedOption.OptionName;

        orderParams.SortBy = "ordercreated";

        orderParams.SortOrder = sortBy switch
        {
            "ordercreated_asc" => "asc",
            "ordercreated_desc" => "desc",
            _ => "desc"
        };

        orders = await adminService.GetOrdersAsync(orderParams);
    }

    private async Task SelectedTimeFilterOption(DropdownItem selectedOption)
    {
        try
        {
            filterTimeTitle = selectedOption.OptionName;

            orderParams.InLastNumberOfDays = int.Parse(selectedOption.OptionRef);

            orders = await adminService.GetOrdersAsync(orderParams);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not retrieve list of orders";
        }
    }

    private async Task SelectedStatusFilterOption(DropdownItem selectedOption)
    {
        try
        {
            filterStatusTitle = selectedOption.OptionName;

            if (selectedOption.OptionRef != "Any")
            {
                orderParams.Status = selectedOption.OptionRef;
            }
            else
            {
                orderParams.Status = "";
            }

            orders = await adminService.GetOrdersAsync(orderParams);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not retrieve list of orders";
        }
    }
}
