@page "/admin/siteprefs"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization
@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities
@using PhotoPortfolio.Shared.Models;
@using static PhotoPortfolio.Client.Components.Dropdown;

@inject IAdminService adminService

@attribute [Authorize]

<PageTitle>Photo Portfolio : Admin : Site Preferences</PageTitle>

@if (errorMessage != "")
{
    <div class="mx-2 animate-pulse">
        <div class="alert-box" role="alert">
            <span class="block sm:inline">@errorMessage</span>
        </div>
    </div>
}
else if (prefsMetadata == null)
{
    <text>Loading site preferences...</text>
}
else
{
    <div class="m-4 md:m-8">
        <div class="text-3xl">Site Preferences</div>
        <div class="mt-8 w-full lg:w-1/2">
            <span class="inline">Site Name: </span>
            <input class="rounded-sm w-64 border border-gray-300 shadow-sm px-2 py-1 bg-white focus:outline-none"
               @bind-value="@siteName" @bind-value:event="onchange" />
        </div>
        <div class="mt-8 w-full lg:w-1/2">
            <span>Order Approval: </span>
            <Dropdown DropdownTitle="@($"{selectedApprovalOptionName}")"
                DropdownWidth="DropdownWidthOptions.Large"
                DropdownItems="approvalDropdownOptions"
                SelectedOption="SelectedApprovalOption"
                SelectedItemRef="@($"{selectedApprovalOptionRef}")" />
        </div>
        <div class="mt-8 w-full lg:w-1/2">
            <span class="inline">Auto-Approval Limit: </span>
            <input class="rounded-sm w-48 border border-gray-300 shadow-sm px-2 py-1 bg-white focus:outline-none"
               @bind-value="@autoApproveLimit" @bind-value:event="onchange" />
        </div>
        <div class="mt-8">
            <button type="button" @onclick="@UpdateSitePreferences" class="px-5 py-1.5 relative rounded group font-medium text-white hidden xl:inline-block" id="link-button-uri">
                <span class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-slate-600 to-blue-400"></span>
                <span class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br filter group-active:opacity-0 rounded opacity-50 from-slate-600 to-blue-400"></span>
                <span class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-slate-600 to-blue-400"></span>
                <span class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-slate-600 from-blue-400"></span>
                <span class="relative" id="link-button-text">Save</span>
            </button>
        </div>
    </div>
}

@code {
    private string errorMessage = "";
    private Dictionary<string, string> prefsMetadata = new();
    private string siteName = "";
    private string autoApproveLimit = "";

    private List<DropdownItem> approvalDropdownOptions = new();
    private string selectedApprovalOptionName = "";
    private string selectedApprovalOptionRef = "";

    protected override async Task OnInitializedAsync()
    {
        AddApprovalOptions();
        await GetSitePreferences();

        string orderApproval;
        prefsMetadata.TryGetValue("OrdersSentToProdigiAutomatically", out orderApproval);

        if (!string.IsNullOrWhiteSpace(orderApproval))
        {
            DropdownItem option = approvalDropdownOptions.FirstOrDefault(x => x.OptionRef == orderApproval);
            selectedApprovalOptionRef = option.OptionRef;
            selectedApprovalOptionName = option.OptionName;
        }

        string approvalLimit;
        prefsMetadata.TryGetValue("OrderAutoApproveLimit", out approvalLimit);

        if (!string.IsNullOrWhiteSpace(approvalLimit))
        {
            autoApproveLimit = approvalLimit;
        }
    }

    private async Task GetSitePreferences()
    {
        try
        {
            var preferences = await adminService.GetSitePreferencesAsync();
            siteName = preferences.SiteName;
            prefsMetadata = preferences.Metadata;
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not retrieve site preferences";
        }
    }

    private async Task UpdateSitePreferences()
    {
        try
        {
            var preferences = await adminService.GetSitePreferencesAsync();

            // update preferences.Metadata with form values from page
            prefsMetadata = preferences.Metadata;

            if (prefsMetadata.ContainsKey("OrdersSentToProdigiAutomatically"))
            {
                prefsMetadata["OrdersSentToProdigiAutomatically"] = selectedApprovalOptionRef;
            }

            if (prefsMetadata.ContainsKey("OrderAutoApproveLimit"))
            {
                prefsMetadata["OrderAutoApproveLimit"] = autoApproveLimit;
            }

            preferences.SiteName = siteName;

            var response = await adminService.UpdateSitePreferencesAsync(preferences);

            if (response)
            {
                errorMessage = "";
            }
            else
            {
                Console.WriteLine("Could not update site preferences");
                errorMessage = "Could not update site preferences";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not update site preferences";
        }
    }

    private void AddApprovalOptions()
    {
        approvalDropdownOptions.Clear();

        approvalDropdownOptions.Add(new DropdownItem
            {
                OptionName = "Auto-Approve All Orders",
                OptionRef = "AutoApproveAll"
            });

        approvalDropdownOptions.Add(new DropdownItem
            {
                OptionName = "All Orders Manually Approved",
                OptionRef = "ManuallyApproveAll"
            });

        approvalDropdownOptions.Add(new DropdownItem
            {
                OptionName = "Auto-Approve Below Threshold Amount",
                OptionRef = "AutoApproveBelow"
            });
    }

    private async Task SelectedApprovalOption(DropdownItem selectedOption)
    {
        selectedApprovalOptionRef = selectedOption.OptionRef;
        selectedApprovalOptionName = selectedOption.OptionName;

        await UpdateSitePreferences();
    }
}
